/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#productos-list {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#carrito {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#carrito h2 {
    margin-bottom: 10px;
    color: #333;
}

#carrito-list {
    list-style: none;
    padding: 0;
}

#carrito-list li {
    margin-bottom: 5px;
    color: #555;
}

#total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

#vaciar-carrito {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#vaciar-carrito:hover {
    background-color: #c82333;
}